.common-button-icon {
  font-size: 2.2em !important;
}

.common-icon-button {
  color: $button-color !important;
  min-width: 36px !important;
  width: 36px !important;
}

.common-icon-button-mobile {
  color: $button-color-mobile !important;
}

.common-icon-button:disabled {
  color: $disabled-color !important;
}

.common-icon-button-mobile:disabled {
  color: $disabled-color-mobile !important;
}
