.common-button-icon {
  color: $button-color !important;
  font-size: 1.8em !important;
}

.common-icon-button {
  color: $button-color !important;
}

.common-icon-button:disabled {
  color: $disabled-color !important;
}
