.header-container {
  background-color: $header-background;
  display: flex;
  flex-direction: row;
  line-height: 3.2em;
  overflow: hidden;
  padding: 0;
}

.contact-links {
  flex-grow: 1;
  height: 3.2em;
  text-align: right;
  vertical-align: middle;
}

.contact-links-link {
  height: 3.2em;
  vertical-align: middle;
}

.contact-icon {
  color: $button-color !important;
  font-size: 1.8em !important;
  margin-right: 1em;
  margin-top: 0.35em;
}

.examples-control {
  flex-grow: 1;
  text-align: center;
}

.page-buttons {
  flex-grow: 1;
  text-align: left;
}
