.header-container {
  background-color: $header-background;
  display: flex;
  flex-direction: row;
  line-height: 3.2em;
  overflow: hidden;
  padding: 0;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.2em;
  padding: 0.35em 1em;
  text-align: right;
  vertical-align: middle;
  width: 250px;
}

.contact-links-link {
  vertical-align: middle;
}

.contact-icon {
  color: $button-color !important;
  font-size: 1.8em !important;
}

.examples-control {
  flex-grow: 1;
  text-align: center;
}

.page-buttons {
  display: flex;
  flex-direction: row;
  font-size: 1.8em;
  justify-content: space-between;
  text-align: left;
  width: 250px;
}

.page-buttons-button {
  color: $foreground-color !important;
}

.page-buttons-button-selected {
  color: $disabled-color !important;
}
