$borderLight: rgba(228, 220, 224, 0.2);
$borderDark: rgba(228, 220, 224, 0.3);
$greenGrey5: rgba(228, 220, 224, 0.5);
$button-color: #8e9d6a;
$disabled-color: #7dab71;
$button-color-mobile: #aeef9e;
$disabled-color-mobile: #5d9452;
$background-color: #001000;
$foreground-color: #eae3ea;
$snip-text-color: #bda870;
$tree-edit-new-background: #001500;
